MODE=dev|prod
PORT=4200

DATABASE_URL="postgres://<user_name>:<user_pass>@localhost:5432/<db_name>?schema=public"

JWT_ACCESS_SECRET=<jwt_symbols>
JWT_REFRESH_SECRET=<jwt_symbols>

GMAIL_USER=your-email@gmail.com
GMAIL_APP_PASSWORD=your-app-password